*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#000;
    color:white;
}

/* NAVBAR */
header{
    width:100%;
    padding:30px 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    border-bottom:1px solid rgba(255,255,255,0.08);
}

.logo{
    font-size:32px;
    font-weight:700;
}

nav a{
    color:#bdbdbd;
    text-decoration:none;
    margin-left:35px;
    transition:0.3s;
}

nav a:hover,
.active{
    color:white;
}

/* HERO */
.hero{
    min-height:85vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;
}

/* LEFT */
.hero-text{
    max-width:600px;
}

.small-text{
    color:#8d8d8d;
    font-size:18px;
}

.hero-text h1{
    font-size:78px;
    line-height:1.1;
    margin:15px 0;
    font-weight:800;
}

.hero-text h1 span{
    color:#bdbdbd;
}

.hero-text p{
    color:#a8a8a8;
    line-height:1.9;
    margin-bottom:35px;
    max-width:500px;
}

/* BUTTON */
.buttons{
    display:flex;
    gap:20px;
}

.btn-primary{
    background:white;
    color:black;

    padding:14px 32px;
    border-radius:12px;

    text-decoration:none;
    transition:0.3s;
    font-weight:500;
}

.btn-primary:hover{
    transform:translateY(-5px);
}

.btn-secondary{
    border:1px solid rgba(255,255,255,0.15);

    padding:14px 32px;
    border-radius:12px;

    text-decoration:none;
    color:white;

    transition:0.3s;
}

.btn-secondary:hover{
    background:white;
    color:black;
}

/* RIGHT */
.hero-image{
    position:relative;
}

/* SOFT GLOW */
.hero-image::before{
    content:"";

    position:absolute;

    width:350px;
    height:350px;

    background:white;

    filter:blur(140px);

    opacity:0.08;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);
}

/* IMAGE CARD */
.image-card{
    width:280px;
    height:340px;

    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:25px;

    display:flex;
    justify-content:center;
    align-items:center;

    backdrop-filter:blur(15px);

    box-shadow:0 0 30px rgba(255,255,255,0.04);
}

.image-card img{
    width:220px;
    border-radius:20px;

    filter:grayscale(100%);
}

/* SKILLS */
.skills{
    padding:50px 8%;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:25px;
}

.skill-card{
    padding:30px;

    border-radius:20px;

    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,255,255,0.08);

    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-8px);
}

.skill-card h3{
    margin-bottom:15px;
    font-size:24px;
}

.skill-card p{
    color:#a5a5a5;
    line-height:1.8;
}

/* RESPONSIVE */
@media(max-width:950px){

    .hero{
        flex-direction:column;
        text-align:center;

        gap:60px;

        padding-top:60px;
    }

    .hero-text h1{
        font-size:54px;
    }

    .buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

}

/* ABOUT */
.about{
    min-height:90vh;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;

    padding:50px 8%;

    background:#000;
}

/* LEFT */
.about-image{
    position:relative;
}

/* GLOW */
.about-image::before{
    content:"";
    position:absolute;

    width:300px;
    height:300px;

    background:white;
    filter:blur(120px);
    opacity:0.08;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/* IMAGE CARD */
.image-card{
    width:260px;
    height:320px;

    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    border-radius:25px;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:0 0 40px rgba(255,255,255,0.05);
}

.image-card img{
    width:210px;
    border-radius:18px;

    filter:grayscale(100%);
}

/* RIGHT */
.about-text{
    max-width:650px;
}

.about-text h1{
    font-size:58px;
    margin-bottom:15px;
    font-weight:800;
}

.about-text h1 span{
    color:#8f8f8f;
}

.about-text h2{
    font-size:34px;
    margin-bottom:20px;
}

.about-text p{
    color:#b5b5b5;
    line-height:1.9;
    margin-bottom:20px;
}

/* CARD */
.vision-card{
    margin-top:40px;

    padding:30px;

    border-radius:20px;

    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    box-shadow:0 0 30px rgba(255,255,255,0.04);
}

.vision-card h3{
    font-size:28px;
    margin-bottom:15px;
}

/* ACTIVE NAV */
.active{
    color:white;
    border-bottom:2px solid white;
    padding-bottom:5px;
}

/* RESPONSIVE */
@media(max-width:950px){

    .about{
        flex-direction:column;
        text-align:center;
        padding-top:80px;
    }

    .about-text h1{
        font-size:42px;
    }

    .about-text h2{
        font-size:28px;
    }

}